body {
  background-color: #FEF5ED;
}

hr {
  background-color: #FEF5ED;
  border-style: none;
  border-top-style: dotted;
  border-color: #99A799;
  border-width: 5px;
  width: 10%;
  }
  h2{
    color: #6D9886;
  }
  h3{
    color: #6D9886;
  }
  thead{
    color: #99A799;
  }
  tbody{
    color: #483434;
  }
  ul{
    color: #483434;
  }
  ol{
    color: #483434;
  }
  p{
    color: #483434; 
  }
